.nav{
    background-color: #333;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    width: 100%;

}
.nav ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
.nav li{
    flex-grow: 1;
    
}
.nav a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 16px; 
    
}
.nav a:hover{
    background-color: #555;
}
